* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    background-color: #2c2c2c;
    color: white;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #0d3150;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 80%;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid white;
}

.profile .name {
    font-size: 18px;
    font-weight: bold;
}

.profile .mail {
    font-size: 14px;
    color: #ccc;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

nav ul li a:hover,
nav ul li.selected a {
    background-color: #ff9900;
}
x
nav ul li a i {
    margin-right: 10px;
}

/* Main content */
main {
    flex: 1;
    padding: 40px;
    background-color: #e0e0e0;
    color: black;
}

.logout {
    margin-top: 200%;
}
.container-nav{
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
    gap: 350px;
}