
body {
    background-color: #8a89a3;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #f4a200;
    border-radius: 15px;
    padding: 20px;
    width: 50%;
    height: 400px;
    text-align: center;
    border: 4px solid #004080;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0, 10px;
}

.modify-text {
    font-weight: bold;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.modify {
    background-color: #ffd580;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.delete {
    background-color: #003366;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.workshops {
    background-color: #00234a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 40%;
    height: 400px;
    margin: 0, 10px;
}

.workshop-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.workshop-item {
    background-color: #ffcc80;
    border: none;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}


.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.month{
    margin-bottom: 10px;
}
.workshop-item {
    text-align: center;
}

i:hover {
    cursor: pointer;
    color: #ff9900;
}

.modify:hover {
    background-color: #46acf4;
    cursor: pointer;
}
.delete:hover {
    background-color: #ff0000;
    cursor: pointer;
}